<!DOCTYPE html>
<!-- para manejar infomacion dinamica de spring, se debe agregar: -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>

        <!-- para tomar un elemento de una plantilla, se debe crear un elemento del mismo tipo del componente que se tomara de la plantilla
             especificar la direccion de esta, y colocar el nombre que se le dio en esta, de manera que: -->
        <header th:replace="layout/plantilla :: header"></header>

        <section th:replace="layout/botonesAgregar :: botonesAgregar"></section>
        
        <section th:replace="layout/agregarCliente :: agregarCliente"></section>
        

        <section th:replace="layout/listadoCliente :: listadoClientes"></section>
        <footer th:replace="layout/plantilla :: footer"></footer>
        

    </body>
</html>
