<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Plantilla</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <!-- para definir un elemento de plantilla, se debe crear el tipo de elemento, y en la etiqueta fragment, se debe
             agregar el nombre al cual hacerle referencia-->
        <header th:fragment="header">
            <h1 th:text="#{plantilla.titulo}">Titlle</h1>
            <!-- en este punto se pueden agregar cualquier codigo html, este se añadira a este elemento -->
        </header>
        
        <footer th:fragment="footer">
            <p>[[#{plantilla.pie-pagina}]]</p>
        </footer>
    </body>
</html>
