<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Botones Agregar</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <!-- se añade una seccion para el boton de agregar: -->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <!-- y se añade la etiqueta de seguridad, para que solo lo muestre a usuarios admin -->
                    <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">
                        <!-- en este punto se agrega una vantana modal con el data target: -->
                        <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#agregarCliente">
                            <!-- y ademas un icono: -->
                            <i class="fas fa-plus"></i>[[#{accion.agregar}]]
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
